/* estilo.css */

/* General reset and base styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
}

nav {
  background-color: #444;
  padding: 1em 0;
}


nav a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  color: rgb(187, 180, 245);
  text-decoration: none;
  padding: 0.5em;
}


nav a:hover {
  background-color: #5a2f2f;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}


section h2 {
  border-bottom: 0.2em solid #ddd;
  padding-bottom: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
}

table,
th,
td {
  border: 0.1em solid #ddd;
}

th,
td {
  padding: 0.8em;
  text-align: left;
}

thead>tr>th {
  background-color: #f4f4f4;
}


table th {
  font-weight: bold;
}

tbody th {
  font-weight: normal;
}


video,
audio {
  max-width: 90%;
  margin: 1em 0;
}


h3 {
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
}

article {
  border: 0.2em solid #ddd;
  margin: 1%;
  padding: 2%;

}

section {
  padding-bottom: 1em;
}


section img {
  max-width: 100%;
  height: auto;
}


/* Estilo para la imagen del carrusel */
section>div>picture>img {
  display: block;
  width: 100%;
  height: auto;
}

article > label {
  padding: 0.5em;
}


/* Estilo para los botones */
/* section>div>button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1em;
  cursor: pointer;
  font-size: 2.4em;
  z-index: 1;
}


section>div>button:last-of-type {
  right: 7em;
}


section>div>button:hover {
  background: rgba(0, 0, 0, 0.8);
}
 */