/* layout.css */

/* Estilos normales */
header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article > label {
  display: inline-block;
  margin-right: 1em;
}

article > img {
  padding: 1em;
}

input {
  padding: 1em;
}


/* Media query para pantallas pequeñas */
@media (max-width: 38em) {
  nav {
    flex-direction: column;
    align-items: center; /* Opcional: para centrar los elementos verticalmente */
  }

  nav a { /* Asumiendo que los elementos dentro del nav son enlaces */
    width: 100%; /* Opcional: para que los enlaces ocupen todo el ancho */
    text-align: center; /* Opcional: para centrar el texto dentro de los enlaces */
  }

  article {
    display: block;
  }
}


main {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

#map {
  min-width: 20em;
}



main > article{
  justify-self: center;
  align-self: center;
}


figure img {
  max-width: 50%;
}

#carousel-picture {
  max-width: 80vw;  /* 80% de la anchura de la ventana gráfica */
  max-height: 60vh; /* 60% de la altura de la ventana gráfica */
  width: 50%;
  height: auto;
  overflow: hidden;
}

/* Asegúrate de que las imágenes se ajusten al tamaño del contenedor */
#carousel-picture img {
  width: 80%;
  height: 80%;
  height: auto;
}

/* Ajuste opcional para el botón si es necesario */
button {
  margin-top: 1rem;
}

main section article > img {
  width: 15em;
  height: 15em;
}

body main section svg {
  width: 40em;
  height: 20em;
}


img.map-image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

@media (min-width: 600px) {
  img.map-image {
    width: 800px;
    height: 600px;
  }
}