/* Estilos generales */
/* Specificidad: 0,0,0 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Flexbox */
/* Specificidad: 0,0,1 */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* Specificidad: 0,0,1 */
nav {
  justify-content: space-between;
  align-items: center;
}

/* Specificidad: 0,0,1 */
h1 {
  text-align: center;
}

/* Specificidad: 0,0,2 */
header h1 {
  margin: 0;
}

/* Specificidad: 0,0,1 */
section {
  flex-basis: 100%;
  max-width: 800px;
  margin: 40px;
  align-items: center;
  border-radius: 5px;
}


/* Estilos CSS para hacer la imagen adaptable */
/* Specificidad: 0,0,2 */
figure>img {
  max-width: 100%;
  height: auto;
}

/* Specificidad: 0,0,2 */
section > img {
  max-width: 33%;
  height: auto;
}

/* Specificidad: 0,0,2 */
section >form {
  text-align: center;
}

/* Estilos para los títulos de sección */
/* Specificidad: 0,0,2 */
section> h2 {
  margin-bottom: 10px;
}

/* Specificidad: 0,0,1 */
article {
  text-align: center;
}

/* Specificidad: 0,0,1 */
ul,
ol {
  padding-left: 40px;
}

/* Specificidad: 0,0,1 */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Specificidad: 0,0,1 */
th,
td {
  padding: 10px;
  text-align: center;
}

/* Specificidad: 0,0,1 */
button {
  display: inline-block;
}

/* Specificidad: 0,0,3 */
body > main > article{
  height: 400px;
  width: 100%;
}

/* Estilos para los formularios */
/* Specificidad: 0,0,1 */
form {
  margin-bottom: 20px;
}

/* Specificidad: 0,0,3 */
section article img{
  max-width: 100%;
  max-height: 100%;
}